
# Ignore Mac and cache files
.DS_Store
__pycache__

# ignore data files
data/
Work bench

# ignore image files
images/
*.jpg
*.bmp

# ignore other files
*.afdesign
*.pyc
*.pxm

# ignore backup
Backup/
