
# Ignore Mac and cache files
.DS_Store
__pycache__

# ignore data folder
# data/


# ignore data files but keep folder (not working?!)
data/

# Ignore folders
analysis
Work bench

# ignore image files
images/
faces/
*.jpg
*.bmp
*.JPG

# ignore other files
*.afdesign
*.pyc
*.pxm
*.Rhistory

# ignore backup
Backup/
