
# Ignore Mac and cache files
.DS_Store
__pycache__

# ignore data folder
# data/


# ignore data files but keep folder (not working?!)
data/*
!data/.keep

# Ignore folders
analysis
Work bench

# ignore image files
images/
*.jpg
*.bmp

# ignore other files
*.afdesign
*.pyc
*.pxm
*.Rhistory

# ignore backup
Backup/
